
    /* 부트스트랩에서 재정의한 CSS */
body {
    padding-top: 30px;
    padding-bottom: 10px;
}
    h2 {
        font-size: 1.5rem;
        font-style: italic;
    }
    .h-8.px-3.rounded-md.shadow {
        background-color: #323232;
        color: white;
    }

    .flex.h-full.text-black-600.dark.text-black-400 {
        color: black !important;
    }
    a[href="/"],a[href="/sugangReg"],a[href="/sugangList"],a[href="/post"],a[href="/boardlistuser"],a[href="/qna/openQnaList.do"] {
        color: black;
    }

.table-responsive {
    margin-top: 20px;
}

    .btn-primary {
        background-color: #323232;
        border-color: #323232;
        border-radius: 80px; /* 버튼을 라운드 형식으로 만듭니다 */
        padding: 10px 20px; /* 버튼 내부의 패딩을 설정합니다 */
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s ease;
    }
    .btn-primary:hover {
        background-color: #505050;
        border-color: #505050;
    }


    #registerButton {
        background-color: #323232;
        border-color: #323232;
        border-radius: 80px; /* 버튼을 라운드 형식으로 만듭니다 */
        padding: 10px 20px; /* 버튼 내부의 패딩을 설정합니다 */

        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s ease;
    }

    #registerButton:hover {
        background-color: #505050;
        border-color: #505050;
    }
/* 커스텀 CSS 추가 */
h2.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.05);
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}



.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.align-center {
    text-align: center;
}

/* 화면 크기가 작을 때 테이블 반응형으로 조정 */
@media (max-width: 767.98px) {
    .table-responsive {
        overflow-x: auto;
    }
}

/* 수강렉 보기 버튼 */






